<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>ResizeMe</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-light bg-light mb-5">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('upload_resize') }}">Navbar</a>
      </div>
    </nav>

    <div class="container">
      <div class="text-center">
        <div class="mb-4">
          <h1>ResizeMe</h1>
          <h3>Easily resize images for free!</h3>
        </div>
        <div class="w-25 mx-auto">
          <form method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <input
                class="form-control"
                type="file"
                name="image"
                accept="image/*"
                required
              />
            </div>
            <button class="btn btn-primary">Resize</button>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
